<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.translateall.language.free.translator.dictionary.speechtext.learnenglish">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        android:minSdkVersion="34" />

    <application
        android:name=".TranslateApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.docs.DocsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.pdf.PdfActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.sentence.SentencesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.cameraTranslate.CameraTranslateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activities.dictionaryBookmark.DictionaryBookmarkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.dictionaryDetail.DictionaryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.language.AppLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.camera.OcrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.fullscreen.FullScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.conversation.ConversationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".ui.activities.inputscreen.InputActivity"
            android:exported="true"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.languageSelection.generic.LanguageSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.languageSelection.ocr.LanguageSelectionOCR"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.inApp.InAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- /// activities/// -->
        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.clipboard.ClipboardActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@style/custom_alert_dialog">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.favorites.FavoriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.widgets.MyAlertDialog"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@style/Transparent" /> <!-- //// services //// -->
        <receiver android:name=".services.ButtonReceiver" />
        <receiver android:name=".services.NotificationReceiver" />

        <service
            android:name=".services.ClipboardService"
            android:foregroundServiceType="dataSync"
            android:exported="false"
            />
    </application>

</manifest>